.nextlink {
    line-height: 57px;
	bottom: 63px
}
.nextlink_text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    float: none;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 14px;
    vertical-align: middle;
    line-height: 50px;
    color: #ffffff !important;
}
.landingpage .landingimg {
    height: 100%;
    right: 0;
    min-height: auto;
}
.theme-pink .login-screen-content .list-block .label, .theme-pink .login-screen-content .list-block .floating-label {
    font-size: 14px;
}

input.login_page_mobile::-webkit-input-placeholder {	
	color: rgba(256,256,256,0.7) !important;
}
input.login_page_mobile {
    text-align: left !important;
    direction: ltr;
}
.login_page_input_title{color: #ffffff !important;}
#resend_verify_code{
    color:  #ffffff !important;
    text-align:  center;
    width: fit-content;
    display:  block;
    font-size:  12px;
    border-bottom:  1px solid #ffffff;
    margin: 0px auto 0px auto;
}
.header .logo {
    font-size: 20px;
}
#map_bg{
	position:absolute;
	top:0;
	left:0;
	right:0;
	/* clip-path2: ellipse(30% 18% at 75% 81%),polygon(0 0, 100% 0, 100% 57%, 0 57%); */
	clip-path: ellipse(90% 61% at 50% 38%);
	/* webkit-mask-image: url("../img/map_mask.svg"); */
	/* mask-image: url("../img/map_mask.svg"); */
	/* -webkit-mask-image: url(../img/map_mask.svg); */
	/* clip-path: url(#clipping-path-1); */
	width: 100%;
	overflow: hidden;
}
ul#landing_menu li:hover a{background-color:transparent;color:#ffffff;}
#map_bg2 {
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
	filter: blur(0px);
}
#logo_text {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    max-width: 50%;
    z-index: 99;
    width: 100%;
}
table tr td, table tr th {
    border: 1px solid #dddddd;
    font-weight: 400;
    padding: 4px 10px;
    line-height: 30px;
    text-align: right;
}
.toolbar-fixed .toolbar-bottom, .tabbar-fixed .toolbar-bottom, .tabbar-labels-fixed .toolbar-bottom, .toolbar-bottom {
    /* box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12); */
    box-shadow: 0px -1px 0px -2px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
}
.tabs {
    border: 0px solid #d5dbe4;
}
































